<body class=" light" id="top">


    <main class="main">
    
    <article class="post-single">
      <header class="post-header">
        <div class="breadcrumbs"><a href="https://littlesheep12.github.io/leoyang.github.io/en/">Home</a></div>
        <h1 class="post-title">
          About Me🙋🏻‍♂️
        </h1>
      </header> 
    
      <div class="post-content"><div class="highlight"><pre tabindex="0" style="color:#f8f8f2;background-color:#272822;-moz-tab-size:4;-o-tab-size:4;tab-size:4;"><code class="language-python" data-lang="python"><span style="display:flex;"><span><span style="color:#66d9ef">class</span> <span style="color:#a6e22e">Me</span>:
    </span></span><span style="display:flex;"><span>    <span style="color:#66d9ef">def</span> __init__(self):
    </span></span><span style="display:flex;"><span>        self<span style="color:#f92672">.</span>name <span style="color:#f92672">=</span> <span style="color:#e6db74">&#34;Lingyu Yang&#34;</span>
    </span></span><span style="display:flex;"><span>        self<span style="color:#f92672">.</span>prefer_name <span style="color:#f92672">=</span> <span style="color:#e6db74">&#34;Leo&#34;</span>
    </span></span><span style="display:flex;"><span>        self<span style="color:#f92672">.</span>born_year <span style="color:#f92672">=</span> <span style="color:#ae81ff">1999</span>
    </span></span><span style="display:flex;"><span>        self<span style="color:#f92672">.</span>MBTI <span style="color:#f92672">=</span> <span style="color:#e6db74">&#34;ENFJ-T&#34;</span>
    </span></span><span style="display:flex;"><span>        self<span style="color:#f92672">.</span>hometown <span style="color:#f92672">=</span> <span style="color:#e6db74">&#34;Baoding, Hebei, CN&#34;</span>
    </span></span><span style="display:flex;"><span>        self<span style="color:#f92672">.</span>curr_location <span style="color:#f92672">=</span> <span style="color:#e6db74">&#34;Seattle, WA, US&#34;</span>
    </span></span><span style="display:flex;"><span>        self<span style="color:#f92672">.</span>grad_school <span style="color:#f92672">=</span> <span style="color:#e6db74">&#34;Northeastern University, Boston&#34;</span>
    </span></span><span style="display:flex;"><span>        self<span style="color:#f92672">.</span>undergrad_school <span style="color:#f92672">=</span> <span style="color:#e6db74">&#34;Hebei University, Baoding&#34;</span>
    </span></span></code></pre></div>
    
      </div>
    

    </article>
        </main>
        

    
    </script>

    </body>